<ul class="level0">
<li class="{% if page.id == 'doc-installation' %}active{% endif %}"><a href="doc-installation.html">Installation</a>
</li>
<li class="{% if page.id == 'doc-usage' %}active{% endif %}"><a href="doc-usage.html">Usage</a>
<ul class="level1">
<li class=""><a href="doc-usage.html#basics">Basics</a>
</li>
<li class=""><a href="doc-usage.html#serving-native-javascript-resources">Serving native javascript resources</a>
</li>
<li class=""><a href="doc-usage.html#serving-mongoose-models-and-aggregates">Serving mongoose models and aggregates</a>
</li>
<li class=""><a href="doc-usage.html#serving-custom-resources">Serving custom resources</a>
</li>
<li class=""><a href="doc-usage.html#extending-served-resources">Extending served resources</a>
</li></ul>
</li>
<li class="{% if page.id == 'doc-native-resources' %}active{% endif %}"><a href="doc-native-resources.html">Native resources</a>
<ul class="level1">
<li class=""><a href="doc-native-resources.html#definition">Definition</a>
</li>
<li class=""><a href="doc-native-resources.html#modification">Modification</a>
<ul class="level2">
<li class=""><a href="doc-native-resources.html#delete">DELETE</a>
</li>
<li class=""><a href="doc-native-resources.html#put">PUT</a>
</li>
<li class=""><a href="doc-native-resources.html#patch">PATCH</a>
</li>
<li class=""><a href="doc-native-resources.html#post">POST</a>
</li></ul>
</li>
<li class=""><a href="doc-native-resources.html#options">Options</a>
</li></ul>
</li>
<li class="{% if page.id == 'doc-mongoose-resources' %}active{% endif %}"><a href="doc-mongoose-resources.html">Mongoose resources</a>
<ul class="level1">
<li class=""><a href="doc-mongoose-resources.html#definition">Definition</a>
</li>
<li class=""><a href="doc-mongoose-resources.html#serving-collections">Serving collections</a>
<ul class="level2">
<li class=""><a href="doc-mongoose-resources.html#get-retrieving-multiple-documents">GET: retrieving multiple documents</a>
</li>
<li class=""><a href="doc-mongoose-resources.html#post-adding-new-documents">POST: adding new documents</a>
</li></ul>
</li>
<li class=""><a href="doc-mongoose-resources.html#serving-documents">Serving documents</a>
<ul class="level2">
<li class=""><a href="doc-mongoose-resources.html#get-retrieving-single-documents">GET: retrieving single documents</a>
</li>
<li class=""><a href="doc-mongoose-resources.html#delete-removing-documents">DELETE: removing documents</a>
</li>
<li class=""><a href="doc-mongoose-resources.html#put-and-patch-updating-documents">PUT and PATCH: updating documents</a>
</li></ul>
</li>
<li class=""><a href="doc-mongoose-resources.html#serving-document-properties">Serving document properties</a>
<ul class="level2">
<li class=""><a href="doc-mongoose-resources.html#get-retrieving-document-properties">GET: retrieving document properties</a>
</li>
<li class=""><a href="doc-mongoose-resources.html#delete-removing-document-properties">DELETE: removing document properties</a>
</li>
<li class=""><a href="doc-mongoose-resources.html#put-and-patch-updating-document-properties">PUT and PATCH: updating document properties</a>
</li>
<li class=""><a href="doc-mongoose-resources.html#post-adding-sub-documents-to-document-arrays">POST: adding sub-documents to document arrays</a>
</li></ul>
</li></ul>
</li>
<li class="{% if page.id == 'doc-custom-resources' %}active{% endif %}"><a href="doc-custom-resources.html">Custom resources</a>
</li>
<li class="{% if page.id == 'doc-extending-resources' %}active{% endif %}"><a href="doc-extending-resources.html">Extending resources</a>
<ul class="level1">
<li class=""><a href="doc-extending-resources.html#overriding-handlers">Overriding handlers</a>
</li>
<li class=""><a href="doc-extending-resources.html#sub-resources">Sub-resources</a>
</li>
<li class=""><a href="doc-extending-resources.html#setting-options">Setting options</a>
</li>
<li class=""><a href="doc-extending-resources.html#hooks">Hooks</a>
</li>
<li class=""><a href="doc-extending-resources.html#helpers">Helpers</a>
</li></ul>
</li>
<li class="{% if page.id == 'doc-extending-yarm' %}active{% endif %}"><a href="doc-extending-yarm.html">Extending yarm</a>
</li></ul>
